*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}
.page1{
    width: 100%;
    height: 100%;
    padding-top: 3vmax;
}
#slide{
    width: 100%;
    height: 50%;
    background-color: #434344;
    position: absolute;
    top: -100%;
    transition: all ease 1s;
    display: flex;
    padding: 5vmax 21vmax;
}
.row{
        margin-right: 1vmax;
        color: white;
}
ul{
    list-style: none;
}
#slide h5{
    font-size: 14px;
    opacity: 0.6;
}
#two{
    margin-right: 5vmax;
    font-size: 1.5vmax;
    line-height: 2vmax;
}
#three{
    margin-right: 5vmax;
    font-size: 1vmax;
    line-height: 1.5vmax;

}
#four{
    font: 1vmax;
    line-height: 1.5vmax;
}
#one{
    cursor: pointer;
}
.nav{
    width: 100%;
    height: 3vmax;
    background-color: #434344;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    top: 0;
    position: fixed;
}
.nav h5{
    font: 500 14px "Calibri";
    color: rgb(232, 228, 228);
}
.nav i{
    color: white;
}
.nav2{
    width: 100%;
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 3vmax; */
}
a{
    text-decoration: none;
}
.center{
    width: 100%;
    height: 87.5vh;
    background-image: url(https://www.apple.com/in/home/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 2vmax;
}
.center h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.center h2{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1vmax;
}
.link{
    text-align: center;
}
.link a{
    margin-right: 20px;
    font-size: 18px;
    color: royalblue;

}
a:hover{
    text-decoration: underline;
}
/* ================================================= */
.page2{
    width: 100%;
    height: 85vh;
    background-image: url(https://www.apple.com/in/home/heroes/iphone-14/images/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 3vmax;
}
.page2 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.page2 h2{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1vmax;
}
/* ================================================= */
.page3, .page4{
    width: 100%;
    height: 80vh;
    display: flex;
}
.page3-left{
    width: 50%;
    height: 99%;
    background-color: white;
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-series-8/images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large_2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 3vmax;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-left: 1vmax;
    margin-right: 0.5vmax;
    margin-bottom: 1vmax;
}
.page3-left p{
    color: rgb(238, 77, 77);
    margin-top: 0.3vmax;

}
.page3-left h2{
    margin: 0.5vmax 0;

}
.page3-right{
    width: 50%;
    height: 99%;
    background-color: black;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad/promo_ipad__fioegapg12qi_large_2x.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 3vmax;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0vmax 1vmax 1vmax 0.5vmax;
   
}
.page3-right h1{
    font-size: 40px;
}
.page3-right p{
    font-size: 20px;
    margin-top: 0.5vmax;
    margin-bottom: 1vmax;
}
/* ================================================ */
.page4-left{
    width: 50%;
    height: 100%;
    background-color: white;
   background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_large_2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 3vmax;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0.5vmax 0.5vmax 0.5vmax 1vmax;
}
.page4-right{
    width: 50%;
    height: 100%;
    background-color: black;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/homepod/promo_homepod_announce__bhviq9vjnlf6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 3vmax;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
   margin: 0.5vmax 1vmax 1vmax 0.5vmax;
}
.page4-left h1{
    margin-top: 0.3vmax;
    
}
.page4-left h2{
    margin-top: 0.5vmax;
    margin-bottom: 1vmax;

}
.page4-right h1{
    font-size: 40px;
}
.page4-right p{
    font-size: 20px;
    margin-top: 0.5vmax;
    margin-bottom: 1vmax;
}
